
.foto1 { 
    padding-top: 2000px; 
    margin: 0px; 
    border: 0px solid black; 
    float: right; 
    width: 200px;
    margin-top: 10px; 
    text-align: center;}

.foto2 {  
    background-color: green;
border-radius: 10px;}

