*{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    margin-top: 0px;
    margin-left: 0px;
    margin-right: git;
}
#pagina{
    margin: 0px;
    width: 1250px;
    margin-left: 91px;
}

.foto1 { 
    padding: 10px; 
    float: left; 
    width: 15%; 
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 50px;
    
}
.energia{
    margin-left: 10%;
    margin-right: 15%;
    display: inline-block;
}
.foto2 {  
    background-color:#292929;
    border-radius: 100px;
    height: 75px;
    width: 75px;
    float: center;
    fill: #689f38;
    }

.foto3 {  
        background-color:#292929;
        border-radius: 100px;
        height: 75px;
        width: 75px;
        float: center;
        fill: #689f38;
        }

.foto4 {  
            background-color:#292929;
            border-radius: 100px;
            height: 75px;
            width: 75px;
            float: center;
            fill: #689f38;
            }


#caja { 
            color: #ffffff; 
            font-size: 14px; 
            font-weight: 0; 
            background: #292929;
            margin-right: 12px; 
            padding: 15px; 
            border-radius: 5px 5px 5px 5px; 
            -moz-border-radius: 5px 5px 5px 5px; 
            -webkit-border-radius: 5px 5px 5px 5px; 
            float: right;
            width: 300px;
            border: 2px solid #292929;
            vertical-align: 1000px;
        }

.abrir {
    height: 30px;
    float:right;
    fill: #689f38;
    margin-right: 12px;
    background-color:#292929;
    padding: 2px;
    border-radius: 5px;
    display: none;
    overflow: hidden; 

}

.cuadro{
    background-color: #aaa7a7;
    height: 20px;
    border-radius: 5px 5px 5px 5px; 
            -moz-border-radius: 5px 5px 5px 5px; 
            -webkit-border-radius: 5px 5px 5px 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: #292929;
    text-align: center;
    margin-bottom: 10px;
}

.fotobomba{
    height: 300px;

}

/*#eolica{
    margin-left: 125px;
}

#foto{
    margin-left: 75px;
}

#hidro{
    margin-left: 70px;
}
*/
#mapa{
    left: 10px;
    margin-left: 490px;
    position: absolute;
    
}

.region{
    fill:#aaa7a7;
    text-align: right;
    stroke: #ffffff;
    stroke-width: 1px;
    
}

.cerrar{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
}
.cerrard{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
}


#nombre{
    color: #689f38;
    font-size:40px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #292929;
    border-radius: 5px 5px 5px 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding: 10px; 
    margin: 10px; 
    text-align: center;
}
.titulo{
    color: #ffffff;
    background-color: #689f38;
    padding: 1% 1%;
    text-align: center;
    display: inline-block;
    margin-bottom: 68px;
    position: static;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
}

#titulo{
    font-size:50px;
    font-family: 'Farro', sans-serif;
}

#bajada{
    font-size:20px
}

#info1{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    text-align: justify; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 300px;
    margin-left: 10px;
    }

#info2{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    text-align: justify; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 300px;
    margin-left: 10px;
        }

#info3{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    text-align: justify; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 300px;
    margin-left: 10px;
    }

#resumen{
    display: none;
    position: absolute;
    background-color: #689f38;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    list-style-position: inside;
    z-index: 1000;
    
}

#resumen_solar{
    display: inline-block;
    line-height: 25px;
}

#resumen_eolica{
    display: inline-block;
}

#resumen_hidro{
    line-height: 25px;
    display: inline-block;
}

img.foto1 {
    width: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.region{cursor:url(curs.svg), auto;}

cajapequena { 
    display: none;
    background: #292929;
    margin-right: 12px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: right; 
    width: 20px;
    vertical-align: 1000px;
        }
