*{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    margin-top: 0px;
    margin-left: 0px;
}
#pagina{
    width: 1250px;
    height: 1900px;
    margin-left: 91px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.foto1 { 
    padding: 10px; 
    float: left; 
    width: 100px; 
    margin-bottom: 10px;
}
.energia{
    display: inline-block;
    padding-left: 150px;
    padding-right: 150px;
}

#energias{
    text-align: center;
    margin-top: 10px;
}
.foto2 {  
    background-color:#292929;
    border-radius: 100px;
    height: 75px;
    width: 75px;
    float: center;
    fill: #689f38;
    }

.foto3 {  
        background-color:#292929;
        border-radius: 100px;
        height: 75px;
        width: 75px;
        float: center;
        fill: #689f38;
        }

.foto4 {  
            background-color:#292929;
            border-radius: 100px;
            height: 75px;
            width: 75px;
            float: center;
            fill: #689f38;
            }


#caja { 
            color: #292929; 
            font-size: 20px; 
            font-weight: 0; 
            padding: 15px; 
            border-radius: 5px 5px 5px 5px; 
            -moz-border-radius: 5px 5px 5px 5px; 
            -webkit-border-radius: 5px 5px 5px 5px; 
            float: center; 
            margin-left: 50px; 
            margin-right: 50px;
            vertical-align: 1000px;
            margin-bottom: 50px;
            margin-top: 10px;
            text-align: center;
            /*background-image: url('foto_fondo.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;*/
        }

.abrir {
    height: 30px;
    float:right;
    fill: #689f38;
    margin-right: 12px;
    background-color:#292929;
    padding: 2px;
    border-radius: 5px;
    display: none;
    overflow: hidden; 

}

.cuadro{
    background-color: #aaa7a7;
    height: 20px;
    border-radius: 5px 5px 5px 5px; 
            -moz-border-radius: 5px 5px 5px 5px; 
            -webkit-border-radius: 5px 5px 5px 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: #292929;
    text-align: center;
    margin-bottom: 10px;
}

.fotobomba{
    height: 300px;
}

#mapa{
    left: 570px;
    position: absolute;
}

.region{
    fill:#aaa7a7;
    text-align: right;
    stroke: #292929;
    stroke-width: 1px;
}

.cerrar{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
}
.cerrard{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
}

.cerrart{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
}


#nombre{
    color: #689f38;
    font-size:40px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #292929;
    border-radius: 5px 5px 5px 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding: 10px; 
    margin: 10px; 
    text-align: center;
}
.titulo {
    color: #ffffff;
    background-color: #689f38;
    padding: 30px;
    display: inline-block;
    margin-bottom: 5px;
    position: static;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-left: 36px;
}

#titulo{
    font-size:50px;
    font-family: 'Farro', sans-serif;
    text-align: center;
}

#bajada{
    font-size:20px;
    text-align: center;
}

#info1{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;
    }

#info2{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    text-align: justify; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;
}

#info3{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    text-align: justify; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;
    }

#resumen{
    display: none;
    position: absolute;
    background-color: #689f38;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    list-style-position: inside;
    z-index: 100000;
}

#resumen_solar{
    display: inline-block;
    line-height: 25px;
}

#resumen_eolica{
    display: inline-block;
}

#resumen_hidro{
    line-height: 25px;
    display: inline-block;
}

img.foto1 {
    width: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


#porregion{
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 5px; 
    margin-left: 806px;
    margin-top: 10px;
    padding: 15px; 
    border-radius: 5px 5px 5px 5px; 
        -moz-border-radius: 5px 5px 5px 5px; 
        -webkit-border-radius: 5px 5px 5px 5px; 
    float: center;
    width: 400px;
    border: 2px solid #292929;
    overflow: hidden; 
    display: none;
    z-index: 1000;
}



#parametro1{
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929; 
    margin-left: 806px;
    margin-top: 5px;
    padding: 15px; 
    border-radius: 5px 5px 5px 5px; 
        -moz-border-radius: 5px 5px 5px 5px; 
        -webkit-border-radius: 5px 5px 5px 5px; 
    float: center;
    width: 400px;
    border: 2px solid #292929;
    overflow: hidden; 
    display: none;
    z-index: 1000;
    line-height: 175%;
}
        
.cerrar_parametro{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
}

.rango1{
    background-color: #c5e2ac;
    border-radius: 100px;
    display: inline-block;
    width: 25px;
    color: #c5e2ac;
}

#num1{
    display: inline-block;
}

.rango2{
    background-color: #689f38;
    border-radius: 100px;
    display: inline-block;
    width: 25px;
    color: #689f38;
}

#num2{
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 3px;
}

.rango3{
    background-color: #406222;
    border-radius: 100px;
    display: inline-block;
    width: 25px;
    color: #406222;
}

#num3{
    display: inline-block;
}

.subenergia{
    display: inline-block;
    margin-right: 10px;
    height: 221.78px;
}

img.fotovoltaica{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    margin-bottom: 5px;
    margin-top: 25px;
}

img.termosolares{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

#info1_foto{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;
}

#info1_termo{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;
}

/*flecha solar>termo */
.flechita{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
    margin-right: 3px;
}
/*flecha solar>foto */
.flechita2{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
    margin-right: 3px;
}

.flechita3{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 5px;
    margin-right: 3px;
}

img.horizontal{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

img.vertical{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

#info2_horizontal{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;    
}

#info2_vertical{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;    
}

#info3_embalse{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;    
}

#info3_pasada{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;    
}

#info3_bombeo{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 450px;
    margin-left: 10px;    
}

.bombeo{
    width:180px;
}

.termosolares{
    width:200px;
}

.horizontal{
    width:180px;
}

.vertical{
    width:180px;
}

#tiporegion{
    font-size: 18px;
}

.info_region{
    display: none;
    line-height: 200%;
}


.info_personal{
    background-color: #689f38;
    padding: 15px;
    font-size: 15px;
    position: absolute; 
    top: 1854px;
    margin-left: -1px;
    width: 1222px;
    text-align: center;
}

#captador_fondo{
    width: 1250px;
    margin-right: 0px;
    border-radius: 5px 5px 5px 5px; 
}

.uni_hidro{
    display: none; 
}

.uni_eolico{
    display: none; 
}

.uni_sol{
    display: none;
}
