*{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    margin-top: 0px;
    margin-left: 0px;
    margin-right: git;
}
#pagina{
    margin: 0px;
    width: 1250px;
}

.foto1 { 
    padding: 10px; 
    margin: 10px; 
    float: left; 
    width: 15%; 
}
.energia{
    margin-left: 10%;
    margin-right: 15%;
    display: inline-block;
}
.foto2 {  
    background-color:#292929;
    border-radius: 100px;
    height: 75px;
    width: 75px;
    float: center;
    fill: #689f38;
    }

.foto3 {  
        background-color:#292929;
        border-radius: 100px;
        height: 75px;
        width: 75px;
        float: center;
        fill: #689f38;
        }

.foto4 {  
            background-color:#292929;
            border-radius: 100px;
            height: 75px;
            width: 75px;
            float: center;
            fill: #689f38;
            }


.caja { 
            color: #ffffff; 
            font-size: 14px; 
            font-weight: 0; 
            background: #292929;
            margin-right: 50px; 
            overflow: hidden; 
            padding: 15px; 
            border-radius: 5px 5px 5px 5px; 
            -moz-border-radius: 5px 5px 5px 5px; 
            -webkit-border-radius: 5px 5px 5px 5px; 
            float: right;
            width: 300px;
            border: 2px solid #292929;
            vertical-align: 1000px;}

.cuadro{
    background-color: #aaa7a7;
    height: 20px;
    border-radius: 5px 5px 5px 5px; 
            -moz-border-radius: 5px 5px 5px 5px; 
            -webkit-border-radius: 5px 5px 5px 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: #292929;
    text-align: center;
    margin-bottom: 10px;
}

/*#eolica{
    margin-left: 125px;
}

#foto{
    margin-left: 75px;
}

#hidro{
    margin-left: 70px;
}
*/
#mapa{
    left: 10px;
    margin-left: 377px;
    position: absolute;
}

.region{
    fill:#aaa7a7;
    text-align: right;
    stroke: #ffffff;
    stroke-width: 1px;
    
}

.cerrar{ 
    height: 20px;
    float:right;
    fill:#292929;
    padding: 2px;
    background-color: #689f38;
    border-radius: 10px;
}

#nombre{
    color: #689f38;
    font-size:40px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #292929;
    border-radius: 5px 5px 5px 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding: 10px; 
    margin: 10px; 
    text-align: center;
}
.titulo{
    color: #ffffff;
    background-color: #689f38;
    padding: 3% 11%;
    text-align: center;
    display: inline-block; 
    margin-bottom: 75px;
    position: static;
    border-radius: 0px 0px 5px 5px; 
}

#titulo{
    font-size:50px;
    font-family: 'Farro', sans-serif;
}

#bajada{
    font-size:20px
}

#info1{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    text-align: justify; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    margin-left: 10px;
    }

#info2{
        display: none;
        color: #ffffff; 
        font-size: 14px; 
        font-weight: 0; 
        text-align: justify; 
        background: #292929;
        margin-right: 100px; 
        overflow: hidden; 
        padding: 15px; 
        border-radius: 5px 5px 5px 5px;
        float: left;
        margin-left: 10px; 
        }

#info3{
    display: none;
    color: #ffffff; 
    font-size: 14px; 
    font-weight: 0; 
    text-align: justify; 
    background: #292929;
    margin-right: 100px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    float: left; 
    width: 300px;
    margin-left: 10px;
    }

#resumen{
    display: none;
    position: absolute;
    background-color: #689f38;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    list-style-position: inside;
    
}

#resumen_solar{
    display: inline-block;
    line-height: 25px;
}

#resumen_eolica{
    display: inline-block;
}

#resumen_hidro{
    line-height: 25px;
    display: inline-block;
}